*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    background: #0f172a;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: relative;

    color: white;

}

/* GLOW */

.bg-glow{

    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    z-index: -1;

}

.glow1{

    width: 350px;
    height: 350px;

    background: rgba(59,130,246,0.35);

    top: -100px;
    left: -100px;

}

.glow2{

    width: 300px;
    height: 300px;

    background: rgba(6,182,212,0.25);

    bottom: -100px;
    right: -100px;

}

/* CONTAINER */

.auth-container{

    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

/* CARD */

.auth-card{

    width: 100%;
    max-width: 450px;

    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.08);

    backdrop-filter: blur(14px);

    padding: 40px;
    border-radius: 24px;

    box-shadow: 0 0 40px rgba(0,0,0,0.3);

}

.auth-card h1{

    font-size: 36px;
    margin-bottom: 10px;

}

.auth-card p{

    color: #94a3b8;
    margin-bottom: 30px;

}

/* FORM */

form{

    display: flex;
    flex-direction: column;
    gap: 18px;

}

input{

    padding: 16px;

    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.1);

    background: rgba(255,255,255,0.04);

    color: white;
    font-size: 16px;

    outline: none;

}

input::placeholder{

    color: #94a3b8;

}

button{

    padding: 16px;

    border: none;
    border-radius: 14px;

    background: linear-gradient(
        135deg,
        #3b82f6,
        #06b6d4
    );

    color: white;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 0 25px rgba(59,130,246,0.5);

    transition: 0.3s;

}

button:hover{

    transform: translateY(-3px);

}

/* BOTTOM TEXT */

.bottom-text{

    margin-top: 25px;
    text-align: center;

    color: #94a3b8;

}

.bottom-text a{

    color: #3b82f6;
    text-decoration: none;

}

#message{

    margin-top: 20px;
    text-align: center;

}

/* RESPONSIVE */

@media(max-width: 500px){

    .auth-card{

        padding: 30px 22px;

    }

    .auth-card h1{

        font-size: 28px;

    }

}